{% extends 'base.html.twig' %}

{% block title %}Modifier un Anniversaire{% endblock %}

{% block body %}
    <h1>Modifier un Anniversaire</h1>

    <div class="button-container">
    {{ include('anniversaire/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a  class="button" href="{{ path('app_anniversaire_index') }}">Annuler</a>
    </div>
{% endblock %}
