{% extends 'base.html.twig' %}

{% block title %}Ajouter un Anniversaire{% endblock %}

{% block body %}
    <h1>Ajout d'un anniversaire</h1>
    <div class="button-container">

    {{ include('anniversaire/_form.html.twig') }}

    <a class="button align" href="{{ path('app_anniversaire_index') }}">Annuler</a>
    </div>
{% endblock %}
